/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap'); */

* {
    font-family: 'Roboto mono';
}
body {
    background-color: rgb(0, 0, 0);
    
    color: aliceblue;
}

button {
    background-color:  rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    
}

#button-controls {
    visibility: hidden;
    margin-top: 1rem;
}

.btn-control {
    background-color: rgb(89, 240, 119);
    color: rgb(0, 0, 0);
    padding: 1rem 4rem;
}

#lives {
    display: flex;
    margin: 1rem;
}

.life {
    margin: 0.7rem;
    width: 1.5rem;
}

.flexbox {
    width: 50rem;
    align-items: baseline;
    display: flex;
    margin-left: calc((100vw - 50rem)/2);
    justify-content: space-between;
}

.flexbtn {
    /* width: 50rem; */
    align-items: baseline;
    display: flex;
    /* margin-left: calc((100vw - 50rem)/2); */
    justify-content: space-between;
}

#intro {
    width: 60%;
}

#fail_msg{
    display: none;
}

#results-box {
    background-color: black;
    margin-left: 1rem;
    color: rgb(89, 240, 119);
    height: fit-content;
    font-weight: 900;
}

#game-container {
    width: 50rem;
    height: 62vh;
    position: relative;
    border: 1px solid rgb(19, 226, 0);
    border-style: dashed;
    margin-left: calc((100vw - 50rem)/2);
}

#block {
    position: absolute;
    bottom: 0;
}

#fail_alert {
    display: none;
    background-color: aliceblue;
    color: black;
    padding: 3rem;
    margin: 3rem;
}

#dog_image {
    width: 150px;
    height: 110px;
    background-size: calc(200%);
    background-image: url("./../static/dogright.png");


}
.circle {
    width: 45px;
    height: 85px;
    background-image: url("./../static/server.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

audio {
    /* visibility: hidden; */
    height: 1.9rem;
    width: 17rem;
    margin: 1rem;
}

.audio-customization {
    color: rgb(89, 240, 119);
    background-color: black;
}

a {
    color: rgb(89, 240, 119);
}

@media screen and (max-width: 900px) {
    
    #button-controls {
        visibility: visible;
    }
    
    * {
        font-size: small;
    }
    p {
        font-size: smaller;
    }
    .flexbox {
        width: 90vw;
        align-items: baseline;
        display: flex;
        margin-left: calc((100vw - 90vw)/2);
        justify-content: space-between;
    }

    audio {
        visibility: hidden;
        height: 0;
    }
    
    #game-container {
        width: 90vw;
        height: 60vh;
        position: relative;
        border: 1px solid rgb(255, 255, 255);
        border-style: dashed;
        margin-left: calc((100vw - 90vw)/2);
    }
  }