/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap'); */

* {
    font-family: 'Roboto mono';
}
body {
    background-color: rgb(0, 0, 0);
    
    color: aliceblue;
}

button {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 0;
}

img{
    /* width: 150% */
}

#container {
    /* margin-left: 5vw; */
    /* justify-content: center; */
    
}
#flexbox {
    align-items: center;
    display: flex;
    margin-left: calc((100vw - 50rem)/2);
    justify-content: space-between;
}

#fail_msg{
    display: none;
}

#results-box {
    background-color: black;
    margin-right: 65px;
    color: rgb(223, 223, 223);
    padding: 1rem;
    height: fit-content;
    font-weight: 900;
}
#game-container {
    width: 50rem;
    /* width: 90vw; */
    height: 70vh;
    /* margin-left: 5vw;
    margin-top: 15vh; */
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    border-style: dashed;
    margin-left: calc((100vw - 50rem)/2);
}
#block {
    /* width: 150px;
    height: 110px; */
    /* background-repeat: no-repeat; */
    /* background-color: blue; */
    /* background-size: calc(200%); */
    /* background-image: url("./../static/dog.png"); */
    position: absolute;
    bottom: 0;
}

#fail_alert {
    display: none;
    background-color: aliceblue;
    color: black;
    padding: 3rem;
    margin: 3rem;
}

#dog_image {
    width: 150px;
    height: 110px;
    background-size: calc(200%);
    background-image: url("./../static/dogright.png");


}
.circle {
    width: 45px;
    height: 85px;
    /* background-color: red; */
    background-image: url("./../static/server.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    position: absolute;
}

audio {
    visibility: hidden;
    height: 0;
}